h1 a, h2 a {
    color : #4e40d1;
    font-family: "Lobster";
}

body {
    padding-left: 0px;

}

.page-header {
    background-color: #5e5ce0;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    align-items: center;
    position: relative;
}
.page-header .user-image {
    width: 70px; /* Tamanho da imagem */
    height: 70px; /* Tamanho da imagem */
    border-radius: 50%; /* Deixa a imagem redonda */
    object-fit: cover; /* Garantir que a imagem seja cortada corretamente se for maior que o tamanho */
    position: absolute;
    left: 350px;
    top: 20px; /* Ajuste a posição da imagem conforme necessário */
}
    

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.top-menu {
    font-family: 'Lobster', cursive;
    text-decoration: none;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

/* Aumenta o título */
h2 {
    font-size: 25px;
    font-weight: bold;
}

/* Aumenta o texto da publicação */
p {
    font-size: 15px;
    line-height: 1.6;
}

/* Aumenta a data */
time {
    font-size: 15px;
    color: #555;
}

.post-text {
    text-align: justify;
    line-height: 1.8;
    font-size: 20px;   /* opcional, só para melhorar */
}

.login-container, .signup-container {
    background: white;
    max-width: 400px;
    margin: 3rem auto;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form p {
    margin-bottom: 1rem;
}

button {
    width: 100%;
    padding: 0.7rem;
    background: #333;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background: #555;
}